
<h1> Welcome <%= @user.username %> </h1>
<h2> Here are your favorite teams </h2>

<% @teams.each do |team| %>
  <a href="/players/<%=team.id%>" > <%= team.name %> </a>
<% end %>

<a href="/teams/new" > Click here to add a team. </a>



<form action="/teams/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="text" name="team_name" placeholder="Team to be deleted">
  <input type="submit" id="Delete Team">
</form>
