
<%binding.pry%>
<% if flash[:notice] %>
    <h3><%= flash[:notice] %></h3>
<% end %>

<h1> Welcome Back </h1>
<h2> Please input your username and password </h2>



<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" id="submit">
</form>
