<h1> Welcome, New User </h1>
<h2> Please Sign in </h2>

<form method="post" action="/signup">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" id="submit">
</form>
