<h1> Welcome to the NBA Team Tracker </h1>
<h2> Track Your Favorite Teams and Vote on Your Favorite Players! </h2>

<% if logged_in %>
  <a href="/teams" > Click here to see your teams </a>

<%else%>
  <p> Sign Up or Log In </p>
<% end %>
